@media (min-width: 1500px) {
    /* Styles pour la vue pour ordinateur */
    .header {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 2%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo img {
        max-width: 40%;
    }
    
    .navigation {
        flex-grow: 1; 
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin-top: 4.22%;
        
    }
    
    .navigation ul {
        list-style-type: none;
        display: flex;
    }
    
    .navigation ul li {
        margin-left: 35%; 
        margin-top: 2.5%;
    }
    
    .navigation ul li:first-child {
        margin-left: 70%;
    }
    
    .navigation ul li:last-child {
        margin-left: 29%;
        margin-top: 2.2%;
    
    }
    
    .navigation ul li:last-child a {
        background-color: #ED221E; 
        border-radius: 9px; 
        padding : 1.6vw 3.5vw;
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        
    }
    
    .navigation ul li a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }
}

@media (max-width: 1499px) {
    /* Styles pour la vue pour tablette */
.header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 40%;
}

.navigation {
    flex-grow: 1; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 2.85%;
    
}

.navigation ul {
    list-style-type: none;
    display: flex;
}

.navigation ul li {
    margin-left: 29.5%; 
    margin-top: 2.5%;
}

.navigation ul li:first-child {
    margin-left: 45%;
}

.navigation ul li:last-child {
    margin-left: 22%;
    margin-top: 2%;

}

.navigation ul li:last-child a {
    background-color: #ED221E; 
    border-radius: 9px; 
    padding : 1.4vw 3.5vw;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    
}

.navigation ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

}

@media (max-width: 1300px) {
    /* Styles pour la vue pour ordinateur */
    .header {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 2%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo img {
        max-width: 40%;
    }
    
    .navigation {
        flex-grow: 1; 
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin-top: 1.9%;
        
    }
    
    .navigation ul {
        list-style-type: none;
        display: flex;
    }
    
    .navigation ul li {
        margin-left: 25%; 
        margin-top: 2.5%;
    }
    
    .navigation ul li:first-child {
        margin-left: 30%;
    }
    
    .navigation ul li:last-child {
        margin-left: 29%;
        margin-top: 2.2%;
    
    }
    
    .navigation ul li:last-child a {
        background-color: #ED221E; 
        border-radius: 9px; 
        padding : 1.6vw 3.5vw;
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        
    }
    
    .navigation ul li a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }
}

@media (max-width: 1100px) {
    /* Styles pour la vue pour téléphone */
    .header {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 2%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo img {
        max-width: 40%;
    }
    
    .navigation {
        flex-grow: 1; 
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin-top: 1.2%;
        
    }
    
    .navigation ul {
        list-style-type: none;
        display: flex;
    }
    
    .navigation ul li {
        margin-left: 23%; 
        margin-top: 2.5%;
    }
    
    .navigation ul li:first-child {
        margin-left: 15%;
    }
    
    .navigation ul li:last-child {
        margin-left: 21%;
        margin-top: 2%;
    
    }
    
    .navigation ul li:last-child a {
        background-color: #ED221E; 
        border-radius: 9px; 
        padding : 1.4vw 3.5vw;
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        
    }
    
    .navigation ul li a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }
}


